#
# Author: Kit Chambers
# Contact: kit.chambers@motionsignaltechnologies.com
#
# Motion Signal Technologies Ltd. 
# All rights reserved 
#
# The contents of this file are considered proprietary and usage or 
# reproduction without prior authorization is strictly prohibited.  
#


numpy>=1.24.3
requests>=2.31.0

